
.h-250px{
    height: 250px;
}
.h-300px{
    height: 300px;
}.h-350px{
    height: 350px;
}.h-200px{
    height: 200px;
}
.img-self-fill {
    /*border-radius: calc(0.25rem - 1px);*/
    height: 100%;
    width: 100%;
    object-fit: fill;
    /*max-height: 200px;*/
    /*width: unset;*/
}
.img-width-fill {
    width: 100%;
    object-fit: fill;
}
.active-bj-back{
    position: absolute;
    top: -2vw;
}
.img-self-cover {
    /*border-radius: calc(0.25rem - 1px);*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*max-height: 200px;*/
    /*width: unset;*/
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.15rem - 1px);
    border-top-right-radius: calc(0.15rem - 1px);
}
.vh25{
    height: 25vh;
}
.vh35{
    height: 35vh;
}
.he35{
    height: 35em;
}
.he25{
    height: 25em;
}
.hpx150{
    height: 150px;
}.hpx200{
     height: 200px;
 }.hpx250{
      height: 250px;
  }

.h-today{
    min-height: 150px;
}
.hpx300{
    height: 300px;
}
.p6px{
    padding: 6px!important;
}
.br5px{
    border-radius: 5px!important;
}
.br10px{
    border-radius: 10px!important;
}
.br20px{
    border-radius: 20px!important;
}
.mt-13rem{
    margin-top: 13rem!important;
}

.carousel-button-group{
    position: absolute;
    top:0px;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}.carousel-button-group2{
    /*position: absolute;*/
    /*top:0px;*/
    /*right: 0;*/
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}
.carousel-header{
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    top:0px;
    right: 0;
    font-size: calc(1.3vw + 0.5rem);
}
.cursor-pointer{
    cursor: pointer;
}

.br-r50{
    border-radius: 50%;
}


.profile-pic-in-top {
    width: 3em;
    height: 3em;
}
.logo-in-top {
    height: 2.2em;
    width: 3.2em;
}
.p-05 {
    padding: .12rem!important;
}


.header-top{
    width: 100%;
    position: absolute;
    top: 0;
    height:3.8rem ;
    background: #f8faf9;

    -webkit-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
    -moz-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
    box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;

}


.h-68{
    height: 68%;
}

.h-header-slider{
    min-height: 2.5rem;
    height: 3vw;
}
.fontFamily-Sans{
    font-family: IRANSans !important
}

.h-30{
    height: 30%;
}
.h-70{
    height: 70%;
}
.fs80{
    font-size: 80%;
}
.fs60{
    font-size: 60%;
}.fs70{
     font-size: 70%;
 }

.h-min-img-card{


    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */



    /*height: 15vw;*/
    /*min-height: 10rem;*/
}
.h-min-20em{
    min-height: 20em;
}
.h-min-24vw{
    min-height: 24vw;
}
.h-min-45em{
    min-height: 45em;
}
.fs13vw{
    font-size: 1.3vw;
}
.fw200{
    font-weight: 200;
}
.zIndex-4{
    z-index: 4!important;
}
.zIndex-3{
    z-index: 3;
}
.zIndex-2{
      z-index: 2;
  }
.profile-user-list{
    padding-right: 2vw!important;
}

.list-user-profile {
    position: absolute;
    top: 42%;
    left: 0;
}
.pt10rem{
    padding-top:10rem ;
}
.h-List-item{
    height: 8rem;
}
.txt-content-main{
    font-size: calc(1vw + 0.2em);
    color: #aaa;

    font-weight: 500;
}
.txt-content-branch{
    font-size:calc(1.2vw + 0.2em);;

    font-weight: 500;
}

.text-decoration-line-through{
    text-decoration: line-through;
}
.text-end{
    text-align: end!important;
}

.form-control{
    height:  calc(2.2rem + 1vw)!important;
    border: 1.4px solid rgba(189, 201, 192, 0.64) !important;

    color: #687a6d !important;
    border-radius: 10px!important;
}.form-control:focus{
     border: 1.4px solid #a7b2aa !important;


     outline: 0;
     -webkit-box-shadow:0 0 8px #687a6d;

     box-shadow: inset 0 0 0 rgba(211, 247, 221, 0.52)  , 0 0 0 rgba(226, 241, 230, 0.57);
 }
.ml-r-auto{
    margin-right: auto;
    margin-left: auto;
}
.input-group-text {

    color: #495057!important;

    background-color: transparent!important;
    border: 1px solid transparent!important;
    /*border-radius: .25rem;*/
}
.h-form-nessasery{
    height: 75vh;
    min-height: 25em;
}

.h-input-buy{
    height: calc(2.7rem + 2px) !important;
}
select.decorated option:hover {
    box-shadow: 0 0 10px 100px #687a6d  ;
    background-color:   #215831  ;
    color: white;;
}
select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #215831 inset!important;
    background-color:  #215831  !important;
    color: white!important;
}
.box-shadow-custom{

    -webkit-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
    -moz-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
    box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
    border: 0!important;
}
.sendButton-shadow{
    font-weight: 700!important;
    -webkit-box-shadow: 0px 14px 50px -15px rgba(33,88,49,0.7);
    -moz-box-shadow: 0px 14px 50px -15px rgba(33,88,49,0.7);
    box-shadow: 0px 14px 50px -15px rgba(33,88,49,0.7);
}
.text-wrap2{
    word-break: break-all
}
.overflow-scroll{
    overflow: scroll;
}
.overflow-y-scroll{
    overflow-y: scroll;
}.overflow-x-scroll{
    overflow-x: scroll;
}
.leftSideUploadBtn{
    left:0.5vw
}

.text-break{
    overflow-wrap: break-word;
}
.header-color{
    color: #364539 !important;
}
.second-color{
    color: #67796c !important;
}
.edit-profile-icon{
    position: absolute;
    left: 3rem;
    top:3.5rem;
}
.bg-login{
    /*background-image: url("./../../../src/Common/img/alex-simpson-8DaRtnotCoQ-unsplash.png");*/
    background-image:
            linear-gradient(
                    rgba(4, 52, 14, 0.77),
                    rgba(4, 52, 14, 0.77)
            ),
            url("./../../../src/Common/img/alex-simpson-8DaRtnotCoQ-unsplash.png");
    background-size: cover;
    overflow: hidden;
    /*height: 100vh!important;*/
    position: absolute;
    top:0;
    left: 0;
    z-index: 4;
    /*-webkit-filter: grayscale(1);*/
    /*filter: grayscale(1);*/
    /*-webkit-filter: sepia(100%) hue-rotate(104deg) saturate(400%)  brightness(0.4)  ;*/
    /*filter: sepia(100%) hue-rotate(104deg) saturate(400%)  brightness(0.4)  ;*/
}


.text-ex span{
    color: #67796c !important;;
}


.filter-img-course{
    /*-webkit-filter: sepia(30%) hue-rotate(70deg) saturate(200%)  brightness(0.4)  ;*/
    /*filter: sepia(30%) hue-rotate(70deg) saturate(200%)  brightness(0.4)  ;*/

    -webkit-filter:   hue-rotate(70deg)   brightness(0.4)  ;
    filter:    hue-rotate(70deg)   brightness(0.4)  ;


}

.buy-footer{
    position: fixed;
    bottom: 0;
    /*min-height:3.2rem ;*/
    width: 100%;
    background: #f8faf9;
    /*box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;*/
    -webkit-box-shadow: -25px 0 14px 5px   rgba(234, 225, 234, 0.91) !important;
    -moz-box-shadow: -25px 0  14px 6px   rgba(234, 225, 234, 0.91) !important;
    box-shadow: -25px 0  14px 6px   rgba(234, 225, 234, 0.91) !important;
}



.h-5rem{
    height: 5vw;
}
.wrapper-login {
    position:relative;
    overflow: hidden;
    white-space:nowrap;
    height:auto;
}

.profile-pic {

    width: calc(2rem + 3.5vw) !important;
    height: calc(2rem + 3.5vw) !important;
    min-width: calc(2rem + 3.5vw)!important;
    min-height:  calc(2rem + 3.5vw)!important;

}
.min-h-100vh{
    min-height: 100vh;
}

.h-min-12em{
    min-height: 12em!important;
}
.h-min-5rem{
    min-height: 5vw;
    height: auto;
}

.FsFooterLogin {
    font-size: Calc(0.5vw + 0.5rem) !important;
}
.FS0 {
    font-size: Calc(0.5vw + 0.2rem) !important;
}
.FS01 {
    font-size: Calc(0.2vw + 0.5rem) !important;
}
.FS02 {
    font-size: Calc(0.35vw + 0.5rem) !important;
}
.FsHeaderLogin1{
    font-size: Calc(1vw + 0.7rem);
}
.Fs3{
    font-size: Calc(0.7vw + 0.7rem);
}
.FsHeaderLogin2{
    font-size: Calc(1.9vw + 1.5rem);
}

.Fs17-5 {
    font-size: Calc(1.7vw + 0.5rem) !important;
}
.FssubmitLogin {
    font-size: Calc(0.7vw + 0.5rem) !important;
}
.FsHeader-courseDetail {
    font-size: Calc(1vw + 1rem) !important;
}
.FsHeader-HomePage {
    font-size: Calc(1.3vw + 1.2rem) !important;
}
.Fs-Table{
    font-size: Calc(0.5vw + 0.5rem) !important;
    padding: 0!important;
    text-align: center;
    vertical-align: center;
    margin: 0!important;
}
.Fs-Table-h{
    font-size: Calc(0.5vw + 0.5rem) !important;
    padding: 0!important;
    text-align: center;
    vertical-align: center;
    margin: 0!important;
    line-height: 3;
}
.Fs-Table-h-mobile{
    font-size: Calc(0.5vw + 0.5rem) !important;
    padding: 0!important;
    text-align: center;
    vertical-align: center;
    margin: 0!important;
    line-height: 3;
}
.fs10vw{
    font-size: 10vw;
}
.h-each-page{
    height: 80vh;
    min-height: 30rem;
}
.h-90{
    height: 90% !important;
}
.h-85{
    height: 85% !important;
}
.h-80{
    height: 80% !important;
}.h-60{
    height: 60% !important;
}

.clip-circle {
    clip-path: circle(125px at center);
    /* OLD VALUE example: circle(245px, 140px, 50px); */
    /* Yep, even the new clip-path has deprecated stuff. */
}
.divRight{
    position: absolute;
    left: 0!important;
    width: 100%;

}
.backToCircule{
    position: absolute;
    top: 7%!important;
    right: 2%;

}
.overFlow-y-scroll{
    overflow-y: scroll;
}
.mt4vw{
    margin-top: 4vw;
}
.bg-plum{
    background: plum!important;
}
.bg-coral{
    background: coral!important;
}
.bg-lightskyblue{
    background: lightskyblue!important;
}
.log-indicator {
    width: 13px;
    height: 13px;
    border: 2px solid #FF86367E;
    border-radius: 14px;
    display: inline-block;
}
.dashboard-logs {
    height: 270px;
}

.fs10vw{
    font-size: 10vw;
}
.lineHeight3 {
    line-height:  Calc(0.5vw + 0.7rem) !important;
}
.lineHeight5 {
    line-height:  Calc(1vw + 0.7rem) !important;
}

.lineHeight14{
    line-height: 1.4em;
}

.lineHeight08{
    line-height:0.8em!important;
}
.hideScrollY{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

/*.element::-webkit-scrollbar { width: 0 !important }*/
/*.element { overflow: -moz-scrollbars-none; }*/
/*.element { -ms-overflow-style: none; }*/


.profile-pic {


    width: calc(2rem + 3.5vw) !important;
    height: calc(2rem + 3.5vw) !important;
    min-width: calc(2rem + 3.5vw)!important;
    min-height:  calc(2rem + 3.5vw)!important;

}
.profile-pic-chat {
    width: calc(3rem) !important;
    height: calc(3rem) !important;
    /*min-width: calc(2rem + 2vw)!important;*/
    /*min-height:  calc(2rem + 2vw)!important;*/
}


.padding-l-0{
    padding-left: 0!important;
}
.padding-r-0{
    padding-right: 0!important;
}
.inputSendChat{
    background:#e8ede9!important;
    border-radius: 0 0 0 0!important;
    height: calc(2.2rem + 1vw)!important;
    vertical-align: middle;
    line-height: 2rem!important;
}
.inputSendChat:focus {
    border: 1.4px solid #a7b2aa !important;


    outline: 0;
    -webkit-box-shadow:0 0 8px   !important;

    box-shadow: inset 0 0 0 rgba(211, 247, 221, 0.52)  , 0 0 0 rgba(226, 241, 230, 0.57) !important;
}

.header-chat-wide{
    line-height:  Calc(1vw + 1.7rem) !important;;
    vertical-align: middle!important;
}
.NumberFileUpload-active{
    border-radius: 50%;
    background:  #d6dbd7;
    color: #215831;
      font-size: calc(0.5vw + 0.5em);
    padding: .25em .6em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
.NumberFileUpload {
    border-radius: 50%;
    background: #e4eae5;
    color: #687a6d;
    font-size: calc(0.5vw + 0.5em);
    padding: .25em .6em;
    font-weight: 200;
    line-height: 1;
    text-align: center;
}


.video-container{
    width: 100%;
    /*padding-top: 56.25%;*/
    padding-top: 56.25%;
    height: 0px;
    position: relative;

    /*padding-top: 56.25%; !* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) *!*/
    /*padding-top: 75%; !* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) *!*/
    /*padding-top: 66.66%; !* 3:2 Aspect Ratio (divide 2 by 3 = 0.6666)  *!*/
    /*padding-top: 62.5%; !* 8:5 Aspect Ratio (divide 5 by 8 = 0.625) *!*/

}
.video-element{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.br10px-top{
    border-radius: 10px 10px 0 0 !important;
}
.br10px-bottom{
    border-radius: 0 0 10px 10px !important;
}
.br32px{
    border-radius: 32px !important;
}
.br32px-top{
    border-radius: 32px 32px 0 0 !important;
}
.br32px-bottom{
    border-radius: 0 0 32px 32px !important;
}

.update-btn{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    .mobileNotView {
        display: none;
    }

    .mobileView {
        display: block;
    }
    .leftSideUploadBtn{
        left:2vw
    }
    .loaderLogInM{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overFlow:hidden;
        min-height: 12rem;
        background-image:
                linear-gradient(
                        rgba(4, 52, 14, 0.77),
                        rgba(4, 52, 14, 0.77)
                ),
                url("./../img/alex-simpson-8DaRtnotCoQ-unsplash.png");
        background-size: cover;
        position: absolute;

        top:0;
        left: 0;
        z-index: 4;

    }
    .loaderLogInL{
        display: none;
    }
    .logo-login{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .FormSignWidth{
        width: 50%;
    }
    .mt-login-form{
        margin-top: 4vw;
    }
    .mt-sign-form{
        margin-top: 35vw;
    }
    .marginFormLogin{
        margin-top: 50%;
    }
    .buttons-Group-signIn{
        width: 100%;

    }
    .h-min-profile{
        min-height: 5em!important;
    }
    .rowInProfileUser{
        width: 100%;
        display: flex;
        /*text-align: center;*/
        /*justify-content: center;*/
        -ms-flex-direction:column!important;flex-direction:column!important;
        justify-content: flex-start;
        /*text-align: center;*/
    }
    .MainCardCourseHeight{
        height: 15rem;
    }
    .min-h-mainCourse{
        height: 6rem;
    }
    .mt-14{
        margin-top: 12rem;
    }
    .rightMenu {
        width: 0;
        height: 100vh;
    }
    .HomePage {
        /*width: 70%;*/
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }


    .activeHeaderMenu {
        color:#215831!important;
        font-weight: bold;}
    .activeHeaderMenu ::after
    {
        position: absolute;
        content: '';
        border-bottom: 3px solid #215831;
        top: 85%;
        right: 0%;
        width: 10%;
    }
    .img-cover-preLoader{
        position: absolute;
        top: 22%;
        right: 27%;
    }
    .mt-Video{
        margin-top: 0;
    }










}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mobileNotView {
        display: none;
    }

    .mobileView {
        display: block;
    }

    .leftSideUploadBtn{
        left:2vw
    }
    .loaderLogInM{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overFlow:hidden;
        min-height: 12rem;
        background-image:
                linear-gradient(
                        rgba(4, 52, 14, 0.77),
                        rgba(4, 52, 14, 0.77)
                ),
                url("./../img/alex-simpson-8DaRtnotCoQ-unsplash.png");
        background-size: cover;
        top:0;
        left: 0;
        z-index: 4;
        position: absolute;

    }
    .loaderLogInL{
        display: none;
    }
    .logo-login{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mt-login-form{
        margin-top: 4vw;
    }
    .mt-sign-form{
        margin-top: 35vw;
    }
    .marginFormLogin{
        margin-top: 50%;
    }
    .buttons-Group-signIn{
        width: 100%;

    }
    .h-min-profile{
        min-height: 5em!important;
    }
    .rowInProfileUser{
        /*display: flex;*/
        /*justify-content: start;*/
        text-align: center;
    }
    .MainCardCourseHeight{
        height: 15rem;
    }
    .min-h-mainCourse{
        height: 6rem;
    }
    .mt-14{
        margin-top: 12rem;
    }
    .rightMenu {
        width: 0;
        height: 100vh;
    }
    .HomePage {
        /*width: 70%;*/
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    .activeHeaderMenu {
        color:#215831!important;
        font-weight: bold;}
    .activeHeaderMenu ::after
    {

        position: absolute;
        content: '';
        border-bottom: 3px solid #215831;
        top: 80%;
        right: 20%;
        width: 40%;
    }
    .img-cover-preLoader{
        position: absolute;
        top: 22%;
        right: 27%;
    }
    .mt-Video{
        margin-top: 0;
    }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .mobileNotView {
        display: none;
    }

    .mobileView {
        display: block;
    }
    .leftSideUploadBtn{
        left:0.5vw
    }
    .loaderLogInM{
        /*color: #364539 !important;*/
        display: none;

    }
    .loaderLogInL{
        display: flex;
    }
    .logo-login{
        width: 70%;
        height: 70%;
    }
    .mt-login-form{
        margin-top: 5vw;
    }
    .mt-sign-form{
        margin-top: 0;
    }
    .marginFormLogin{
        margin-top: 1%;
    }
    .buttons-Group-signIn{
        display: flex;
        justify-content: space-between;

    }
    .h-min-profile{
        min-height: 5em!important;
    }
    .rowInProfileUser{
        display: flex;
        justify-content: flex-start;

        /*text-align: center;*/
    }
    .MainCardCourseHeight{
        height: 15rem;
    }
    .min-h-mainCourse{
        height: 6rem;
    }
    .mt-14{
        margin-top: 12rem;
    }
    .rightMenu {
        width: 20%;
        height: 100vh;
    }
    .HomePage {
        width: 84%;
    }
    .activeHeaderMenu {
        color:#215831!important;
        font-weight: bold;}
    .activeHeaderMenu ::after
    {

        position: absolute;
        content: '';
        border-bottom: 3px solid #215831;
        top: 80%;
        right: 20%;
        width: 40%;
    }
    .img-cover-preLoader{
        position: absolute;
        top: 22%;
        right: 17%;
    }
    .mt-Video{
        margin-top: 0;
    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mobileNotView {
        display: block;
    }

    .mobileView {
        display: none;
    }
    .leftSideUploadBtn{
        left:0.5vw
    }
    .loaderLogInM{
        /*color: #364539 !important;*/
        display: none;

    }
    .loaderLogInL{
        display: flex;
    }
    .logo-login{
        width: 70%;
        height: 70%;
    }
    .mt-login-form{
        margin-top: 5vw;
    }
    .mt-sign-form{
        margin-top: 0;
    }
    .marginFormLogin{
        margin-top: 1%;
    }
    .buttons-Group-signIn{
        display: flex;
        justify-content: space-between;

    }
    .h-min-profile{
        min-height: 12em!important;
    }
    .rowInProfileUser{
        display: flex;
        justify-content: flex-start;

        /*text-align: center;*/
    }
    .MainCardCourseHeight{
        height: 15rem;
    }
    .min-h-mainCourse{
        height: 6rem;
    }
    .mt-14{
        margin-top: 12rem;
    }
    .rightMenu {
        width: 20%;
        height: 100vh;
    }
    .HomePage {
        width: 84%;
    }
    .activeHeaderMenu {
        color:#215831!important;
        font-weight: bold;}
    .activeHeaderMenu ::after
    {

        position: absolute;
        content: '';
        border-bottom: 3px solid #215831;
        top: 80%;
        right: 20%;
        width: 40%;
    }
    .img-cover-preLoader{
        position: absolute;
        top: 25%;
        right: 28%;
    }
    .mt-Video{
        margin-top: 0;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mobileNotView {
        display: block;
    }

    .mobileView {
        display: none;
    }
    .leftSideUploadBtn{
        left:0.5vw
    }
    .loaderLogInM{
        /*color: #364539 !important;*/
        display: none;

    }
    .loaderLogInL{
        display: flex;
    }
    .logo-login{
        width: 70%;
        height: 70%;
    }
    .mt-login-form{
        margin-top: 5vw;
    }
    .mt-sign-form{
        margin-top: 0;
    }
    .marginFormLogin{
        margin-top: 1%;
    }
    .buttons-Group-signIn{
        display: flex;
        justify-content: space-between;

    }
    .h-min-profile{
        min-height: 12em!important;
    }
    .rowInProfileUser{
        display: flex;
        justify-content: flex-start;
        /*text-align: center;*/
    }
    .MainCardCourseHeight{
        height: 20rem;
    }
    .min-h-mainCourse{
        height: 9rem;
    }
    .mt-14{
        margin-top: 16rem;
    }
    .rightMenu {
        width: 20%;
        height: 100vh;
    }
    .HomePage {
        width: 84%;
    }

    .activeHeaderMenu {
        color:#215831!important;
        font-weight: bold;}
    .activeHeaderMenu ::after
    {

        position: absolute;
        content: '';
        border-bottom: 3px solid #215831;
        top: 80%;
        right: 20%;
        width: 40%;
    }
    .img-cover-preLoader{
        position: absolute;
        top: 25%;
        right: 30%;
    }
    .mt-Video{
        margin-top: 6vw;
    }

}

.btn-outline-main {
    color: #215831;
    border-color: #215831!important;
}

.btn-outline-main:hover {
    color: #fff!important;
    background-color: #215831!important;
    border-color: #215831!important;
}

.btn-outline-main.focus, .btn-outline-main:focus {
    box-shadow: 0 0 0 .2rem rgba(33, 88, 44, .5)
}



