.arsenal{
    background-color: red;
    color: #dde2de;
}
.img-self-fill {
    /*border-radius: calc(0.25rem - 1px);*/
    height: 100%;
    width: 100%;
    object-fit: fill;
    /*max-height: 200px;*/
    /*width: unset;*/
}
.img-self-cover {
    /*border-radius: calc(0.25rem - 1px);*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*max-height: 200px;*/
    /*width: unset;*/
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.15rem - 1px);
    border-top-right-radius: calc(0.15rem - 1px);
}
.vh25{
    height: 25vh;
}
.vh35{
    height: 35vh;
}
.he35{
    height: 35em;
}
.he25{
    height: 25em;
}
.hpx200{
    height: 200px;
}
.hpx300{
    height: 300px;
}
.p6px{
    padding: 6px!important;
}

.carousel-button-group{
    position: absolute;
    top:0px;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}
.carousel-header{
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    top:0px;
    left: 0;
}
.cursor-pointer{
    cursor: pointer;
}

.br-r50{
    border-radius: 50%;
}

.profile-pic {
    width: 5em;
    height: 5em;
    /*object-fit: cover;*/
    /*border:3px solid #fbca01;*/
}
.p-05 {
    padding: .12rem!important;
}


.w















