$green: #215831 !default;
$yellow: #fbca01 !default;
$darkGreen: #364539 !default;
$LightGreen: #687a6d !default;
$placeHolderColor:#a8b3ab !important;
$white-border: white !default;
$border-r-Video: 10px 10px 0 0   !default;

.br-over-g{
  border : solid 1.5px $green;
}
.green-them{
  color:$green !important;
}
.green-color{
  color:$LightGreen ;
}
.green-background{
  background:$green !important;
}

.backgroundLight{
  background: $placeHolderColor;
}

.green-rightMenu {
  width: 75%;
  background-color: $green;
}
$background-color: #f7faf8 !important;

.glide-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.glide__slides {
   & > * {
     white-space: initial;
   }
 }
.border-Carousel{
  border: dashed 2px $green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.border-Carousel2{
  border: dashed 1.3px rgb(99, 159, 117);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.br-y{
 border:3px solid $yellow;
}
.br-g{
  border : dashed 2px $green;
}
.br-w {
  border: dashed  2px $white-border;
  letter-spacing: 4px;
}

.brt-s{
  border-top: dashed 2px $green;
}
.border-primary-s{
  border: 2px solid $green;
}
.fs15rem{
  font-size: 1.5rem;
}
.fs-lesion{
  font-size:1.5em;
  color:$darkGreen;
}
.Green-dark-color{
  //font-size:1.5em;
  color:$darkGreen;
}
.br-0{
  border:0!important;
}




//.vjs-big-play-button {
//  background-color: transparent!important;
//  width: 100%!important;
//  height: 100%!important;
//  top: 0!important;
//  left: 0!important;
//  right: 0!important;
//  bottom: 0!important;
//  background-image: url('./../../Common/img/Polygon 1.png')!important;
//  background-repeat: no-repeat!important;
//  background-size: 46px!important;
//  background-position: 50% calc(50% - 10px)!important;
//  border: none !important; // @stylint ignore
//  box-shadow: none !important; // @stylint ignore
//  &:before {
//    content: "\f101"!important;
//    display: none!important;
//  }
//  &:hover {
//    background-color: transparent;
//    opacity: .7;
//  }
//}
//.vjs-big-play-button{
//  content: "\f200"!important;
//  &:before {
//    content: "\f200"!important;
//  }
//}
//
//



.playCustom{
  border-radius: $border-r-Video!important;
}


/* Change the border of the big play button. */
.playCustom .vjs-big-play-button {
     width: 100%!important;
    height: 100%!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    background-image: url('./../../Common/img/play_on_video.png')!important;
    background-repeat: no-repeat!important;
    background-size: 100px!important;
    background-position: 50% calc(50%  )!important;
    border: none !important; // @stylint ignore
    box-shadow: none !important; // @stylint ignore
    border-radius: $border-r-Video;


}
.playCustom .vjs-big-play-button .vjs-icon-placeholder:before {
  font-family: FontAwesome;
  content:"" !important;
}
///* Change the color of various "bars". */
//.playCustom .vjs-volume-level,
//.playCustom .vjs-play-progress,
//.playCustom .vjs-slider-bar {
//  background: $green;
//  color: green;
//}
.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
  border-color: #fff;
  background-color: #73859f;
  background-color: rgba(115, 133, 159, 0.5);
  transition: all 0s;
  color: white!important;
  border-radius: $border-r-Video!important;
}
.video-js  .vjs-big-play-button,
.video-js .vjs-big-play-button  {
  border-color: #fff;
  background-color: #73859f;
  background-color: rgba(115, 133, 159, 0.5);
  transition: all 0s;
  color: white!important;
  border-radius: $border-r-Video!important;
}



.playCustom.video-js {
border-radius:$border-r-Video!important;
 }

.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:$border-r-Video!important;
  }


//.vjs-poster {
//  display: inline-block;
//  vertical-align: middle;
//  background-repeat: no-repeat;
//  background-position: 50% 50%;
//  background-size: contain;
//  background-color: transparent;
//  cursor: pointer;
//  margin: 0;
//  padding: 0;
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  height: 100%;
//  border-radius: $border-r-Video!important;
//}














// .video-js  .vjs-tech {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  border-radius:$border-r-Video!important;
//}




//
//
//.lockCustom.video-js {
//
//}
//
///* Change the border of the big play button. */
//.lockCustom .vjs-big-play-button {
//  //border-color: $green;
//  //width: 15% !important;
//  //height: 25% !important;
//  //top: 35% !important;
//  //left: 40% !important;
//  //border-radius: 50% !important;
//  //background-color: white !important;
//  //border: none !important; // @stylint ignore
//  //
//  //color: $green;
//  //content:"\f105" !important;
//  ackground-color: transparent!important;
//  width: 100%!important;
//  height: 100%!important;
//  top: 0!important;
//  left: 0!important;
//  right: 0!important;
//  bottom: 0!important;
//  background-image: url('./../../Common/img/lock_on_video.png')!important;
//  background-repeat: no-repeat!important;
//  background-size: 100px!important;
//  background-position: 50% calc(50% - 10px)!important;
//  border: none !important; // @stylint ignore
//  box-shadow: none !important; // @stylint ignore
//
//
//}
//.lockCustom .vjs-icon-placeholder:before {
//  font-family: FontAwesome;
//  content:"" !important;
//}
/* Change the color of various "bars". */
//.lockCustom .vjs-volume-level,
//.lockCustom .vjs-play-progress,
//.lockCustom .vjs-slider-bar {
//  //background: $green;
//}

html {
  font-family: IRANSans !important;
  width: 100%;
  height: 100%;
  background: $background-color;
}
body{
  font-family: IRANSans !important;
  background: $background-color;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  //border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  //border-radius: 20px!important;
}


.bgInput{
  input[type="text"], textarea,input[type="number"],select {

    background-color : $background-color;

  }
}



.color-placeHolder{
  color:$placeHolderColor;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  $placeHolderColor!important;
  //font-size: Calc(0.5vw + 0.5rem) !important;
  //opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeHolderColor !important;
  //font-size: Calc(0.5vw + 0.5rem) !important;
  //opacity: 0.7; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  $placeHolderColor!important;
  //font-size: Calc(0.5vw + 0.5rem) !important;
  //opacity: 0.7; /* Firefox */
}





.card-active-shadow:hover{
  -webkit-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
  -moz-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
  box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
  //border: 1px solid $theme-color-1!important;
  //box-sizing: border-box;
}
.card-shadow-default{
  -webkit-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
  -moz-box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
  box-shadow: 9px 10px 14px -5px rgba(234, 225, 234, 0.91) !important;
  //border: 1px solid $theme-color-1!important;
  //box-sizing: border-box;
}

.h-min-75vh{
  min-height: 75vh;
}

.h-max-75vh{
  max-height: 75vh;
}
.h-min-80vh{
  min-height: 80vh;
}.h-min-85vh{
   min-height: 85vh;
 }.h-min-90vh{
    min-height: 90vh;
  }
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}


/* CSS talk bubble */
.hidden-txt{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  display: inline-block;
  overflow: hidden;
}
.border-default{
  border: 1px solid rgba(0,0,0,.125);
}

.overFlow-main-upload{
  overflow-y: scroll;
  overflow-x: hidden;
}

.border{
  border: 8px solid #666;
}
.round{
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.round-top-right{
  border-radius: 12px 0 12px 12px;
  -webkit-border-radius: 12px 0 12px 12px;
  -moz-border-radius: 12px 0 12px 12px;
}
.round-top-left{
  border-radius:0 12px  12px 12px;
  -webkit-border-radius:0 12px  12px 12px;
  -moz-border-radius:0 12px  12px 12px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}


/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: $green lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent $green;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: $green transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: $green lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: $green lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: $green transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}


/* talk bubble contents */

.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
$chat-my-self-bg: rgb(53, 69, 58) !default;
$chat-other-bg: rgb(232, 237, 233) !default;
$chat-header-name: rgb(195, 196, 189) !default;

.button-send-Chat{
  background: $chat-my-self-bg;
  border-radius: 50%;
  position:absolute;
  left: 9%;top: -30%;
   width: 2.2em;
   height: 2.2em;
}


.chat-header{
  color:$chat-header-name!important;
}
.bg-chat-mySelf{
  background: $chat-my-self-bg!important;
}
.bg-chat-other{
  background: $chat-other-bg !important;
}
.border-chat-mySelf{
  border-color: $chat-my-self-bg transparent transparent transparent!important;
}
.border-chat-other{
  border-color: $chat-other-bg transparent transparent transparent!important;
}
.border-chat-left{
  border-color: $green transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  top: 0px;
  bottom: auto;
  border: 14px solid;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 9px solid;

}
.tri-right.bg-chat-mySelf:after{
  border-color: $chat-my-self-bg transparent transparent transparent;
}
.tri-right.bg-chat-other:after{
  border-color: $chat-other-bg transparent transparent transparent;
}
.tri-right.green-background:after{
  border-color: $green transparent transparent transparent;
}




//*********new Style********
//*********new Style********
//*********new Style********



.mainColor{
  color: $green !important
}
.border-main-green{
  border: 2px solid $green !important;
}
.bg-main{
  background: $green !important;
}
.red-color{
  color:red;
}
.dark-red-color{
  color: #8f2c30;
}
.border-table-red{
  border: 2px dashed #8f2c30 !important;
}
.br-r-11{
  border-radius: 11px!important;
}


.br-y{
  border:3px solid $yellow;
}
.br-g{
  border : dashed 2px $green;
}
.br-w {
  border: dashed  2px $white-border;
  letter-spacing: 4px;
}
table {
  border-collapse: collapse!important;
  table-layout: fixed;
  border: 1px solid rgba(64,69,66, 0.28) !important;

}
.table-br{
  border: 1px solid rgba(64, 69, 66, 0.09) !important;
}
.table-br-b{
  border-bottom:1px solid rgba(64, 69, 66, 0.09) !important;
}

.br-th-column{
  border-top: 1px solid transparent!important;
  border-bottom: 1px solid transparent!important;
}
.br-th-row{
  border-top: 1px solid transparent!important;
  border-left: 1px solid transparent!important;
  border-right: 1px solid transparent!important;
}
.w-12{
  width: 12.5% !important;
}
.w-135{
  width: 13.5% !important;
}
.w-22{
  width: 22% !important;
}
.w-42{
  width: 42% !important;
}.w-44{
  width: 44% !important;
}
 .FHR{
   color:#cdd1d4!important;
 }



.hollow-pointer-circle {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  width: 1vw;
  height: 1vw;
  min-height:0.7rem ;
  min-width:0.7rem ;
  max-height:2vw ;
  max-width:2vw ;
}
.pointer-circle {
  -moz-border-radius: 50px ;
  -webkit-border-radius: 50px;
  border-radius: 50px ;
  width: 1vw;
  height: 1vw;
  min-height:0.5rem ;
  min-width:0.5rem ;
  max-height:2vw ;
  max-width:2vw ;
}


.talk-bubble {
  display: inline-block;
  position: relative;
  width: 70%;
  height: auto;
}
.upload-bubble-desktop {
  display: inline-block;
  position: relative;
  width: 98%;
  height: auto;
}
.p-s-0{

    padding-top: 0!important;
    padding-bottom: 1.5rem!important;

  font-weight: 100;

}
.talktext{
  padding:  0.3em 0.7rem 0.2rem 0.7rem;
  text-align: left;
  line-height: 1.4em;
  min-height: 3rem;
}
//.p-s-0::after {
//  content: "-";
//  color: $LightGreen;
//
//}
.spanInTh{
  position: absolute;
  top: -22%;
  left: 12%;
}
//.spanInTh::after{
//  content: "-";
//  color: $LightGreen;
//
//}
.h-chatvh{
  //height: 40vh;
  max-height: 75vh;
}
.width-chat-profile{
  width: calc(3.8rem);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .p-s-0{
    padding:0!important;
  }
  .talk-bubble {
    display: inline-block;
    position: relative;
    width: 72%;
    height: auto;
    line-height: 4!important;

  }
  .talktext{
    line-height: 1em;
  }
  .h-chatvh{
    height: 36vh;
    max-height: 45vh;
  }


}

@media screen and (max-width: 1170px ) and (min-width: 992px) {

  .width-chat-profile{
    width: 30%;
  }
}




